* {
  --primary: #E4B7FF;
  --secondary-cyan: #B7F2FF;
  --secondary-cyan-lime: #b6ffdc;
  --secondary-pale-pink: #ffb8e6;
}

.logo {
  width: 100px;
}

h1 {
  display: inline;
  font-size: 50px;
  color: var(--primary);
}